html {
  min-height: 100%;
  border:solid blue 25px;
  padding: 40px;
}
body{
  background-image:linear-gradient(blue,green,yellow);
  background-repeat: no-repeat;
}
h1{
  background-color: navy;
  color: yellow;
}
h3{
  color: green;
}
#userInput{
  display:none;
}
.visualDisplay {
  display: none;
  margin:20px;
  background-color: navy;
  color: yellow;
  border: solid green 30px;
  border-style: groove;
  padding: 30px;
}
